<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Adyen.username" value="ws@Company.[CompanyAccount]"/>
    <add key="Adyen.password" value="your-ws-pwd"/>
    <add key="Adyen.MerchantAccount" value="[MerchantAccount]"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdyenHttpBinding">
                  <security mode="Transport">
                    <message clientCredentialType="UserName"/>
                    <transport clientCredentialType="Basic" realm="Adyen PAL Service Authentication"> <!--Adyen PAL Service Authentication--> 
                      <extendedProtectionPolicy policyEnforcement="Never"/>
                    </transport>                    
                  </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment" binding="basicHttpBinding" bindingConfiguration="AdyenHttpBinding" contract="Adyen.Payment.PaymentPortType" name="PaymentHttpPort"/>
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Recurring" binding="basicHttpBinding" bindingConfiguration="AdyenHttpBinding" contract="Adyen.Recurring.RecurringPortType" name="RecurringHttpPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
